{
    "address": {
      "city": "{{ address_city }}",
      "country": "{{ address_country }}",
      "county": "{{ address_county }}",
      "state": "{{ address_state }}",
      "streets": [
        "{{ address_street }}"
      ],
      "zipCode": "{{ address_zipcode }}"
    },
    "email": "{{ email }}",
    "firstName": "{{ firstName }}",
    "lastName": "{{ lastName }}",
    "permissions": [
      "portal_download"
    ],
    "phone": "{{ phone }}",
    "roles": [
      "organization_administrator"
    ],
    "salutation": "{{ salutation }}",
    "username": "{{ username }}"
  }